#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}
.header-title {
  color: #323332;
}
.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
a {
  color: #4a4752;
  text-decoration: none;
  font-size: 1.2em;
}
main {
  padding: 1rem;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border: solid 1px #ddd;
}
form {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}
form input, 
form select,
form button 
.card {
  padding: 5px;
  font-size: 1em;
}
p {
  color: #ddd;
  text-align: center;
  font-size: 1.2em;
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
ul li {
  padding: 0.5rem;
  border-bottom: solid 1px #ddd;
}
.presupuesto-info{
  color: #ddd;
  text-align: left;
}
.read-the-docs {
  color: #888;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 0.5rem;
  border: solid 1px #ddd;
  text-align: left;
}
th {
  background-color: #4a4752;
}
td {
  background-color: #666569;
}